<footer class="footer">
  <div class="footer-content">
    <p class="copyright">
      © {{ currentYear }} <span style="color:hsl(43,100%,45%);font-weight:700">Yum</span><span style="color:hsl(0,79%,45%);font-weight:700">Dude</span>. All rights reserved.
    </p>
    <div class="footer-links">
      <a href="#" class="footer-link">Terms</a>
      <span class="divider">•</span>
      <a href="#" class="footer-link">Privacy</a>
      <span class="divider">•</span>
      <a href="#" class="footer-link">Support</a>
    </div>
  </div>
</footer>
